.recomendacion-card {
  width: 16rem;
  margin: 10px;
  background: linear-gradient(
    135deg,
    #f8f9fa,
    #e9ecef
  ); /* Fondo en gradiente */
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Oculta contenido que sobresalga del borde redondeado */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra inicial suave */
}

.tarjeta-row {
  height: 80px;
}

.recomendacion-card:hover {
  transform: scale(1.05); /* Efecto de agrandamiento */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más intensa al hacer hover */
}

.recomendacion-img {
  width: 100%;
  height: 200px; /* Controla la altura de la imagen */
  object-fit: cover; /* La imagen se adapta sin deformarse */
  transition: transform 0.4s ease; /* Suaviza la animación */
}

.recomendacion-card:hover .recomendacion-img {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al hacer hover */
}

.recomendacion-card .card-body {
  padding: 20px;
  text-align: center; /* Centra el texto */
}

.recomendacion-card .card-title {
  font-size: 1.5rem; /* Tamaño del texto */
  color: #343a40; /* Color del texto */
  font-weight: bold;
  margin-bottom: 0.75rem; /* Espaciado inferior */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  transition: color 0.3s ease;
}

.recomendacion-card:hover .card-title {
  color: #007bff; /* Cambia el color del título al hacer hover */
}

.recomendacion-card .card-text {
  color: #6c757d; /* Color del texto */
  font-size: 0.9rem;
  line-height: 1.5;
}
