/* .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.navbar {
  margin-bottom: 0;
}

.nav-p {
  color: #ffc312;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}

.nav-item:hover {
  color: #ffc312;
}
